*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    width: 100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    background-color: #504A93;
}
.container1{
    width: 1140px;
    margin: 0% auto;
}
.main_ul1{
    display: flex;
    justify-content: space-between;
}
.main_ul2{
    display: flex;
}
h1{
    margin: 10px;
    color: white;
}
.main_a1{
    color: white;
    margin: 20px;
    transition: .5s;
}
.main_a1:hover{
    color: orangered;
}
.main_div1{
    width: 1000px;
    margin: auto;
    display: flex;
    position: relative;
}
.main_div2{
    width: 600px;
    height: 550px;
    color: white;
}
.main_div3{
    width: 600px;
    height: 550px;
}
.main_p1{
    font-size: 50px;
    width: 400px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 100px;
}
.main_p2{
    margin-left: 100px;
    color: rgb(182, 182, 182);
    margin-top: 20px;
}
.main_a2{
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}
.main_a2:hover{
    background-color: orangered;   
}
.main_img1{
    width: 80%;
    position: absolute;
    left: 300px;
    top: 30px;
}


.container2{
    width: 1140px;
    margin: 0% auto;
}
.s1_div1{
    width: 1100px;
    margin: auto;
}
.s1_ul1{
    display: flex;
    margin-top: 50px;
}
.s1_ul2{
    width: 200px;
    margin-left: 150px;
}
.s1_img1{
    width: 15%;
}
.s1_p1{
    font-weight: bold;
    margin-top: 20px;
}
.s1_p2{
    font-size: 12px;
    margin-top: 20px;
}
.s1_div2{
    width: 1100px;
    margin: auto;
    border-top: 1px solid rgb(63, 63, 63);
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.s1_div3{
    border: px solid black;
    width: 150px;
    align-items: center;
    padding-bottom: 20px;
}
.s1_img2{
    width: 80%;
    margin-left: 20px;
    margin-top: 30px;
    transition: .5s;
}
.s1_img2:hover{
    width: 90%;
}
.s1_div4{
    width: 150px;
    align-items: center;
    padding-bottom: 20px;
}

.container3{
    width: 1140px;
    margin: 0% auto;
    display: flex;
    background-color: #F7F7FB;
}
.s2_div1{
    width: 500px;
    margin-left: 70px;
}
.s2_div2{
    width: 500px;
}
.s2_p1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}
.s2_p2{
    width: 410px;
    line-height: 30px;
    margin-top: 20px;
    color: rgb(100, 100, 100);
}
.s2_ul1{
    width: 500px;
    margin-top: 20px;
    display: flex;
}
.s2_li1{
    display: flex;
    width: 250px;
    transition: .5s;
}
.s2_li1:hover{
    color: orangered;
}
.s2_check{
    color: blue;
    font-size: larger;
}
h3{
    margin-left: 15px;
}
.s2_ul2{
    width: 500px;
    margin-top: 20px;
    display: flex;
}

.container4{
    width: 1140px;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.s3_div1{
    width: 500px;
    height: 500px;
}
.s3_div2{
    width: 500px;
    height: 500px;
}
.s3_img1{
    width: 80%;
    margin-left: 50px;
}
.s3_div3{
    width: 400px;
    height: 90px;
    margin-top: 25px;
    display: flex;
}
.s3_div4{
    width: 50px;
}
.s3_p1{
    font-size: 50px;
    font-weight: bold;
    width: 450px;
    margin-top: 50px;
}
.s3_p2{
    margin-top: 20px;
    color: gray;
    font-weight: bold;
    width: 460px;
    line-height: 35px;
}
.s3_p3{
    font-weight: bold;
    margin-left: 30px;
    font-size: large;
}
.s3_p4{
    font-size: small;
    color: gray;
    margin-left: 30px;
    margin-top: 10px;
    width: 280px;
}


.section4{
    background-color: #F7F7FB;
}
.container5{
    width: 1140px;
    margin: 0% auto;
    margin-top: 150px;
    border-bottom: 1px solid gray;
}
.s4_div1{
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.s4_p1{
    font-size: 50px;
    font-weight: bold;
}
.s4_p2{
    width: 400px;
    margin: auto;
    margin-top: 20px;
}
.s4_div2{
    margin: auto;
    width: 900px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.s4_img1{
    width: 30%;
    margin: 10px;
}
.s4_div4{
    width: 500px;
    height: 280px;
    margin: 10px;
    margin-left: 50px;
    text-align: center;
    position: relative;
}
.double_dote{
    font-size: 100px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    color: blue;
}
.s4_p3{
    font-weight: bold;
    width: 370px;
    margin: auto;
}
.s4_p4{
    margin-top: 20px;
    font-weight: bolder;
    font-size: large;
}
.arrow1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 32px;
    color: blue;
    background-color: white;
    position: absolute;
    top: 120px;
    right: 820px;
    transition: .5s;
}
.arrow1:hover{
    background-color: blue;
    color: white;
}
.arrow2{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 32px;
    color: blue;
    background-color: white;
    position: absolute;
    top: 120px;
    left: 530px;
    transition: .5s;
}
.arrow2:hover{
    background-color: blue;
    color: white;
}
.s4_div3{
    width: 1000px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
    display: flex;
}
.s4_ul1{
    width: 300px;
    height: 250px;
    margin: 25px;
    text-align: center;
}
.s4_p6{
    font-size: 50px;
    color: blue;
    font-weight: bold;
    margin-top: 20px;
    transition: .5s;
}
.s4_p7{
    width: 250px;
    margin: auto;
    margin-top: 20px;
}

.section5{
    background-color: #F7F7FB;
}
.container6{
    width: 1140px;
    margin: 0% auto;
    padding-top: 50px;
}
.s5_p1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.s5_p2{
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 20px
}